.u-block-99e1-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-99e1-3 {
  position: absolute;
  left: 0;
}

.u-block-99e1-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: url("images/BlackandBlueFuturisticVirtualTechnologyBannerLandscape.png");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 656px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 541px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 414px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 311px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 194px;
  }
}

 .u-section-1-2 {
  background-image: url("images/BlackandPurpleFuturisticDigitalTechnologyBannerLandscape2.png");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 656px;
}

.u-section-1-2 .u-custom-html-1 {
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 541px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 414px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 311px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 196px;
  }
}

 .u-section-1-3 {
  background-image: url("images/ece69f1ef9cacaf75c25578e481a43418159a842ef943b5cb056392799592ab537851f9ad402bf781d3eb69ec7fb4e1897f35f30a3f9fcd588fc9f_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 656px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 541px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 414px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 311px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 194px;
  }
}

 .u-section-1-4 {
  background-image: url("images/BlackandWhiteFuturisticTechnologyBannerLandscape.png");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 656px;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 541px;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 414px;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 311px;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 194px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 344px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  line-height: 1.8;
  margin: 14px 65px 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.9375rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 27px auto;
  padding: 10px 61px 10px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-3 {
    width: 680px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-3 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 161px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin: 0 auto 0 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 16.6667% 16.6667% 16.6667% 16.6667% 16.6667% 16.6667%;
  grid-gap: 0px 0px;
  min-height: 161px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-3 .u-image-1 {
  height: 65px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-3 .u-image-2 {
  height: 65px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-3 .u-image-3 {
  height: 65px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-3 .u-image-4 {
  height: 65px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-3 .u-image-5 {
  height: 65px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 20px;
}

.u-section-3 .u-image-6 {
  height: 65px;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 192px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    height: 51px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 51px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 51px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    height: 51px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-5 {
    height: 51px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-6 {
    height: 51px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
  }

  .u-section-3 .u-image-1 {
    height: 87px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 87px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 87px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    height: 87px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-5 {
    height: 87px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-6 {
    height: 87px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1044px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 109px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 109px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 109px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    height: 109px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-5 {
    height: 109px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-6 {
    height: 109px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 31px;
    margin-bottom: 31px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }

  .u-section-3 .u-image-1 {
    height: 67px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 67px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 67px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    height: 67px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-5 {
    height: 67px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-6 {
    height: 67px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 332px;
}

.u-section-4 .u-gallery-1 {
  height: 296px;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px 20px;
  margin: 18px auto 18px 0;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 20px 20px;
}

.u-section-4 .u-back-slide-1 {
  background-image: none;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 280px;
  }

  .u-section-4 .u-gallery-1 {
    height: 244px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-4 .u-gallery-1 {
    height: 561px;
    grid-template-columns: auto auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1298px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1262px;
    grid-template-columns: auto;
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 831px;
  }

  .u-section-4 .u-gallery-1 {
    height: 795px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 240px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-family: abril-fatface;
  line-height: 1.2;
  font-size: 2.25rem;
  margin: 24px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  border-style: none;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 28px auto 0 214px;
  padding: 15px 35px 15px 34px;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  letter-spacing: 1px;
  border-style: none;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: -62px 228px 40px auto;
  padding: 15px 24px 15px 23px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-btn-1 {
    margin-left: 14px;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-btn-1 {
    margin-top: 52px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-2 {
    margin: 20px auto 32px 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 2.375rem;
  }

  .u-section-5 .u-btn-2 {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 53px;
    margin-left: auto;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 24px;
    margin-left: auto;
    margin-bottom: 40px;
    padding-right: 13px;
    padding-left: 12px;
  }
} .u-section-6 {
  background-image: linear-gradient(45deg, #425465, #292e33);
}

.u-section-6 .u-sheet-1 {
  min-height: 770px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  width: 740px;
  margin: 56px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  width: 825px;
  margin: 9px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 99px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 447px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 23px 30px 30px;
}

.u-section-6 .u-group-1 {
  min-height: 170px;
  margin-top: -51px;
  margin-bottom: 0;
  margin-right: 0;
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
}

.u-section-6 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  width: 96px;
  font-size: 1.25rem;
  margin: 24px auto 0;
}

.u-section-6 .u-text-4 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 4px 12px 0;
}

.u-section-6 .u-text-5 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  margin: 4px 0 0;
}

.u-section-6 .u-text-6 {
  line-height: 2;
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 4px 4px 0px 0 rgba(0,0,0,0.1);
  margin: 32px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 447px;
}

.u-section-6 .u-container-layout-3 {
  padding: 0 23px 30px 30px;
}

.u-section-6 .u-group-2 {
  min-height: 170px;
  margin-top: -51px;
  margin-bottom: 0;
  margin-right: 0;
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
}

.u-section-6 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  width: 96px;
  font-size: 1.25rem;
  margin: 24px auto 0;
}

.u-section-6 .u-text-8 {
  font-size: 3rem;
  font-weight: 700;
  margin: 12px 12px 0;
}

.u-section-6 .u-text-9 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  margin: 10px 0 0;
}

.u-section-6 .u-text-10 {
  line-height: 2;
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 4px 4px 0px 0 rgba(0,0,0,0.1);
  margin: 32px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 447px;
}

.u-section-6 .u-container-layout-5 {
  padding: 0 23px 30px 30px;
}

.u-section-6 .u-group-3 {
  min-height: 170px;
  margin-top: -51px;
  margin-bottom: 0;
  margin-right: 0;
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
}

.u-section-6 .u-container-layout-6 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-11 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  font-size: 1.25rem;
  width: 116px;
  margin: 24px auto 0;
}

.u-section-6 .u-text-12 {
  font-size: 3rem;
  font-weight: 700;
  margin: 8px 12px 0;
}

.u-section-6 .u-text-13 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
}

.u-section-6 .u-text-14 {
  line-height: 2;
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 4px 4px 0px 0 rgba(0,0,0,0.1);
  margin: 29px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 447px;
}

.u-section-6 .u-container-layout-7 {
  padding: 0 23px 30px 30px;
}

.u-section-6 .u-group-4 {
  min-height: 170px;
  margin-top: -51px;
  margin-bottom: 0;
  margin-right: 0;
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
}

.u-section-6 .u-container-layout-8 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-15 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  font-size: 1.25rem;
  width: 128px;
  margin: 25px auto 0;
}

.u-section-6 .u-text-16 {
  font-size: 3rem;
  font-weight: 700;
  margin: 23px 12px 0;
}

.u-section-6 .u-text-17 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  margin: 1px 0 0;
}

.u-section-6 .u-text-18 {
  line-height: 2;
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-6 .u-btn-4 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 4px 4px 0px 0 rgba(0,0,0,0.1);
  margin: 32px auto 0;
  padding: 12px 42px 13px 41px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 369px;
  }

  .u-section-6 .u-group-1 {
    margin-right: initial;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 369px;
  }

  .u-section-6 .u-group-2 {
    margin-right: initial;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 369px;
  }

  .u-section-6 .u-group-3 {
    margin-right: initial;
  }

  .u-section-6 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 369px;
  }

  .u-section-6 .u-group-4 {
    margin-right: initial;
  }

  .u-section-6 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-17 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1340px;
  }

  .u-section-6 .u-text-1 {
    width: 720px;
  }

  .u-section-6 .u-text-2 {
    width: 720px;
    margin-top: 20px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 0;
    margin-right: initial;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-6 .u-group-2 {
    margin-top: 0;
    margin-right: initial;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-top: 30px;
  }

  .u-section-6 .u-group-3 {
    margin-top: 0;
    margin-right: initial;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-top: 30px;
  }

  .u-section-6 .u-group-4 {
    margin-top: 0;
    margin-right: initial;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1440px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-13 {
    margin-top: 20px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2422px;
  }

  .u-section-6 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
    margin-top: 20px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 20px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 546px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 547px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-6 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 543px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-6 .u-text-12 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 546px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-6 .u-text-16 {
    font-size: 1.5rem;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 658px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 323px;
}

.u-section-7 .u-container-layout-1 {
  padding: 60px 30px 17px;
}

.u-section-7 .u-icon-1 {
  height: 106px;
  width: 106px;
  background-image: none;
  margin: 0 auto;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-7 .u-text-2 {
  font-style: italic;
  background-image: none;
  margin: 20px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 323px;
}

.u-section-7 .u-container-layout-2 {
  padding: 60px 30px 17px;
}

.u-section-7 .u-icon-2 {
  height: 106px;
  width: 106px;
  background-image: none;
  margin: 0 auto;
}

.u-section-7 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-7 .u-text-4 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 646px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-7 .u-image-1 {
  width: 350px;
  height: 350px;
  background-image: url("images/eknowledge_long_round.png");
  background-position: 50% 50%;
  margin: 95px auto 0;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 323px;
}

.u-section-7 .u-container-layout-4 {
  padding: 60px 30px 17px;
}

.u-section-7 .u-icon-3 {
  height: 106px;
  width: 106px;
  background-image: none;
  margin: 0 auto;
}

.u-section-7 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-7 .u-text-6 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-7 .u-layout-cell-5 {
  min-height: 323px;
}

.u-section-7 .u-container-layout-5 {
  padding: 60px 30px 17px;
}

.u-section-7 .u-icon-4 {
  height: 106px;
  width: 106px;
  background-image: none;
  margin: 0 auto;
}

.u-section-7 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-7 .u-text-8 {
  font-style: italic;
  background-image: none;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 329px;
  }

  .u-section-7 .u-icon-1 {
    height: 85px;
    width: 85px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 21px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 266px;
  }

  .u-section-7 .u-icon-2 {
    height: 86px;
    width: 86px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 533px;
  }

  .u-section-7 .u-image-1 {
    width: 293px;
    height: 293px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 266px;
  }

  .u-section-7 .u-icon-3 {
    height: 85px;
    width: 85px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 266px;
  }

  .u-section-7 .u-icon-4 {
    height: 85px;
    width: 85px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 612px;
  }

  .u-section-7 .u-image-1 {
    width: 325px;
    height: 325px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 540px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-cell-3 {
    min-height: 340px;
  }

  .u-section-7 .u-image-1 {
    width: 320px;
    height: 320px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 381px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1081px;
  margin: 30px auto;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 351px;
}

.u-section-8 .u-container-layout-1 {
  padding: 20px;
}

.u-section-8 .embed-responsive-1 {
  position: absolute;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 351px;
}

.u-section-8 .u-container-layout-2 {
  padding: 20px;
}

.u-section-8 .embed-responsive-2 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 400px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
  }
} .u-section-9 {
  min-height: 362px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 32px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 310px;
  background-image: none;
}

.u-section-9 .u-container-layout-1 {
  padding: 73px 30px 30px;
}

.u-section-9 .u-text-1 {
  font-size: 3rem;
  text-transform: none;
  font-family: Roboto, sans-serif;
  margin: 1px 12px 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 12px 0 0;
}

.u-section-9 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 2px 5px 0px 0 rgba(41,46,51,0.4);
  margin: 35px auto 0;
  padding: 18px 65px 19px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 310px;
  background-image: none;
}

.u-section-9 .u-container-layout-2 {
  padding: 73px 30px 30px;
}

.u-section-9 .u-text-3 {
  font-size: 3.75rem;
  text-transform: none;
  font-weight: 700;
  font-family: Arial, sans-serif;
  margin: 1px 12px 0;
}

.u-section-9 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-9 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 2px 5px 0px 0 rgba(114,104,63,0.4);
  margin: 14px auto 0;
  padding: 18px 65px 19px;
}

@media (max-width: 1199px) {
   .u-section-9 {
    min-height: 390px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 256px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 90px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 256px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-top: 96px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-9 {
    min-height: 350px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 350px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 65px;
    padding-bottom: 40px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 350px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-top: 65px;
    padding-bottom: 40px;
  }

  .u-section-9 .u-text-3 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
   .u-section-9 {
    min-height: 450px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-1 {
    padding: 60px 40px 30px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-2 {
    padding: 30px 40px 60px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-9 .u-container-layout-2 {
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-9 .u-text-3 {
    font-size: 1.875rem;
  }
}.u-block-40f1-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-40f1-3 {
  position: absolute;
  left: 0;
}

.u-block-40f1-4 {
  position: absolute;
  right: 0;
}

 .u-section-10-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/dfsdfdf-min.jpg");
  background-position: 50% 50%;
}

.u-section-10-1 .u-sheet-1 {
  min-height: 891px;
}

.u-section-10-1 .u-text-1 {
  text-shadow: 0 0 8px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-size: 4.5rem;
  font-weight: 900;
  letter-spacing: 2px;
  margin: 267px auto 0;
}

.u-section-10-1 .u-list-1 {
  width: 981px;
  margin: 108px auto 60px;
}

.u-section-10-1 .u-repeater-1 {
  min-height: 254px;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 0px;
}

.u-section-10-1 .u-container-layout-1 {
  padding: 10px 20px;
}

.u-section-10-1 .u-text-2 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-10-1 .u-text-3 {
  font-weight: 400;
  font-style: italic;
  margin: 18px 1px 0;
}

.u-section-10-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 37px auto 0;
}

.u-section-10-1 .u-container-layout-2 {
  padding: 10px 20px;
}

.u-section-10-1 .u-text-4 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-10-1 .u-text-5 {
  font-weight: 400;
  font-style: italic;
  margin: 18px 1px 0;
}

.u-section-10-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 37px auto 0;
}

.u-section-10-1 .u-container-layout-3 {
  padding: 10px 20px;
}

.u-section-10-1 .u-text-6 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-10-1 .u-text-7 {
  font-weight: 400;
  font-style: italic;
  margin: 18px 1px 0;
}

.u-section-10-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 37px auto 0;
}

.u-section-10-1 .u-container-layout-4 {
  padding: 10px 20px;
}

.u-section-10-1 .u-text-8 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-10-1 .u-text-9 {
  font-weight: 400;
  font-style: italic;
  margin: 18px 1px 0;
}

.u-section-10-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 37px auto 0;
}

@media (max-width: 1199px) {
  .u-section-10-1 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-10-1 .u-text-1 {
    margin-top: 193px;
  }

  .u-section-10-1 .u-list-1 {
    width: 940px;
  }

  .u-section-10-1 .u-repeater-1 {
    min-height: 243px;
  }

  .u-section-10-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-10-1 .u-sheet-1 {
    min-height: 917px;
  }

  .u-section-10-1 .u-text-1 {
    width: auto;
    margin-top: 140px;
  }

  .u-section-10-1 .u-list-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10-1 .u-repeater-1 {
    min-height: 529px;
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 767px) {
  .u-section-10-1 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-10-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-10-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    grid-gap: 0px 0px;
  }

  .u-section-10-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10-1 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-10-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-10-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-11 {
  min-height: 362px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 32px;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 310px;
  background-image: none;
}

.u-section-11 .u-container-layout-1 {
  padding: 73px 30px 30px;
}

.u-section-11 .u-text-1 {
  font-size: 3rem;
  text-transform: none;
  font-family: Roboto, sans-serif;
  margin: 1px 12px 0;
}

.u-section-11 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 12px 0 0;
}

.u-section-11 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 2px 5px 0px 0 rgba(41,46,51,0.4);
  margin: 35px auto 0;
  padding: 18px 65px 19px;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 310px;
  background-image: none;
}

.u-section-11 .u-container-layout-2 {
  padding: 73px 30px 30px;
}

.u-section-11 .u-text-3 {
  font-size: 3.75rem;
  text-transform: none;
  font-weight: 700;
  font-family: Arial, sans-serif;
  margin: 1px 12px 0;
}

.u-section-11 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-11 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 2px 5px 0px 0 rgba(114,104,63,0.4);
  margin: 14px auto 0;
  padding: 18px 65px 19px;
}

@media (max-width: 1199px) {
   .u-section-11 {
    min-height: 390px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 256px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-top: 90px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 256px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-top: 96px;
  }

  .u-section-11 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-11 {
    min-height: 350px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 350px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-top: 65px;
    padding-bottom: 40px;
  }

  .u-section-11 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 350px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-top: 65px;
    padding-bottom: 40px;
  }

  .u-section-11 .u-text-3 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
   .u-section-11 {
    min-height: 450px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-11 .u-container-layout-1 {
    padding: 60px 40px 30px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-11 .u-container-layout-2 {
    padding: 30px 40px 60px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-11 .u-container-layout-2 {
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-11 .u-text-3 {
    font-size: 1.875rem;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 494px;
}

.u-section-12 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 374px;
}

.u-section-12 .u-container-layout-1 {
  padding: 45px 30px 30px;
}

.u-section-12 .u-text-1 {
  margin: 0;
}

.u-section-12 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-12 .u-form-1 {
  height: 103px;
  width: 305px;
  margin: 21px auto 0;
}

.u-section-12 .u-input-1 {
  height: 62px;
}

.u-section-12 .u-btn-1 {
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 18px 0;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 374px;
}

.u-section-12 .u-container-layout-2 {
  padding: 30px;
}

.u-section-12 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-12 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-12 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-12 .u-btn-2 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
  padding: 17px 49px 17px 47px;
}

.u-section-12 .u-layout-cell-3 {
  min-height: 374px;
}

.u-section-12 .u-container-layout-3 {
  padding: 30px;
}

.u-section-12 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-12 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-12 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-12 .u-btn-3 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
  padding: 17px 49px 17px 47px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 308px;
  }

  .u-section-12 .u-form-1 {
    width: 253px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 308px;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 308px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 343px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-12 .u-text-1 {
    width: auto;
  }

  .u-section-12 .u-text-2 {
    width: auto;
  }

  .u-section-12 .u-form-1 {
    height: 136px;
    width: 276px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 314px;
  }

  .u-section-12 .u-text-5 {
    width: auto;
  }

  .u-section-12 .u-text-6 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 294px;
  }

  .u-section-12 .u-form-1 {
    width: 335px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 314px;
  }

  .u-section-12 .u-text-4 {
    width: auto;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-12 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-form-1 {
    width: 320px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 168px;
}

.u-section-13 .u-layout-wrap-1 {
  margin: 30px auto 30px 0;
}

.u-section-13 .u-layout-cell-1 {
  min-height: 108px;
}

.u-section-13 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-13 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-13 .u-layout-cell-2 {
  min-height: 108px;
}

.u-section-13 .u-container-layout-2 {
  padding: 29px 60px;
}

.u-section-13 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 280px;
  min-width: 120px;
  margin: 0 auto;
}

.u-section-13 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-13 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-13 .u-icon-3 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-13 .u-icon-4 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-13 .u-icon-5 {
  height: 100%;
  color: rgb(203, 32, 39) !important;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-13 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 89px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 68px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 102px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-13 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 64px;
  }
}